<h3>All the Movies</h3>

<div>
  <% if @page_no > 1 %>
    <a href="/movies?page=<%= @page_no - 1 %>&order=<%= @order_param %>">Previous</a>
  <% end %>
  <% if @page_no < @last_page %>
    <a href="/movies?page=<%= @page_no + 1 %>&order=<%= @order_param %>">Next</a>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th><a href="/movies?order=year">Year</a></th>
      <th><a href="/movies?order=rating">Rating</a></th>
      <th><a href="/movies?order=genre">Genre</a></th>
      <th><a href="/movies?order=studio">Studio</a></th>
    </tr>
  </thead>

  <tbody>

    <% @movies.each do |movie| %>
      <tr>
        <td><a href="/movies/<%= movie['id'] %>"><%= movie['title'] %></a></td>
        <td><%= movie['year'] %></td>
        <td><%= movie['rating'] %></td>
        <td><%= movie['genre'] %></td>
        <td><%= movie['studio'] %></td>
      </tr>
    <% end %>

  </tbody>
</table>
